[submodule "playapi"]
	path = playapi
	url = https://github.com/MCMrARM/Google-Play-API
[submodule "uWebSockets"]
	path = uWebSockets
	url = https://github.com/uNetworking/uWebSockets.git
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json.git
[submodule "rapidxml"]
	path = rapidxml
	url = https://github.com/minecraft-linux/rapidxml.git
[submodule "logger"]
	path = logger
	url = https://github.com/minecraft-linux/logger.git
[submodule "base64"]
	path = base64
	url = https://github.com/minecraft-linux/base64.git
[submodule "msa"]
	path = msa
	url = https://github.com/MCMrARM/updateprocessor-msa.git
